body {
    margin: 0;
    padding: 0;
}

.pane {
    display: flex;
    flex-wrap: wrap;
}

.top-pane {
    background-color: hsl(225, 6%, 25%);
}

/* Editor screen */
.editor-container {
    max-height: 100%;
    min-width: 20rem;

    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
    /* position: absolute; */
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 13%);
    color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

/* Output screen  */
.bottom-pane {
    display: flex;
    flex-wrap: wrap;
    /* min-height: 30rem; */
    /* padding and bg same as editor-container */
    height: clamp(37rem, 50vh, 60rem);
    background-color: hsl(225, 6%, 25%);
}
.bottom-pane .output-screen {
    border-radius: 5px;
    padding: 0.5rem;
    overflow: hidden;
    max-height: 520px !important;
    min-width: 10rem;
}
.bottom-pane .editor-title {
    border-radius: 5px;
}

 .bottom-pane .html-screen {
    flex-grow: 2;
    flex-basis: 500px;
    margin-bottom: .5rem;
}
.bottom-pane .console-screen {
    flex-grow: 1;
    flex-basis: 0;
}
.output-screen.collapsed {
    flex-grow: 0;
    min-width: 7rem;
}
.html-screen.collapsed ~ .console-screen {
    flex-grow: 1;
}

/* Override default code editor style */
.CodeMirror {
    height: clamp(30rem, 50vh, 100%);
    overflow-y: scroll;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
    font-size: 0.92rem;
}
